# Android & Gradle
*.iml
.gradle/
local.properties
/build
**/build/
/captures
.externalNativeBuild/
.cxx/

# IntelliJ / Android Studio
.idea/

# macOS
.DS_Store

# Rust
target/
Cargo.lock

# Keys & secrets
*.jks
*.keystore
google-services.json